* {
    box-sizing: border-box;
}

div.row::after {
  clear: both;
  content: "";
  display: table;
}

[class*="col-"] {
  float: left;
}

div.flexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

div.col-100 {
  width: 100%;
  background-color: red;
}

div.col-100 h1 {
  font-size: 50px;
  text-align: center;
}

div.col-footer {
  width: 100%;
  background-color: black;
}

div.col-footer p {
  font-size: 20px;
  color: white;
  text-align: center;
}

div.col-20 {
  background-color: yellow;
  flex: 1 1 180px;
  order: 0;
}

div.col-20 p {
  font-size: 15px;
  text-align: center;
  font-family: arial;
}

div.col-75 {
  margin: 5px;
  background-color: white;
  flex: 1 1 750px;
  order: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}

div.col-25 {
  min-height: 100px;
  background-color: brown;
  flex: 1 1 250px;
  order: 2;
}

div.col-25 h3 {
  font-style: arial;
  font-size: 25px;
  text-align: center;
}

div.col-25 p {
  font-style: arial;
  font-size: 18px;
  margin: 15px;
}

div.col-60 {
  flex: 1 1 450px;
}

div.col-40 {
  flex: 1 1 300px;
}

div.col-50 {
  flex: 3 3 375px;
}

div.col-95 {
  flex: 1 1 750px;
}

div.col-title {
  flex: 1 1 750px;
}

p.comic {
  text-align: center;
  font-family: arial;
  font-size: 15px;
}

img.panel {
  width: 100%;
}

img.arrow {
  display: block;
  margin: auto;
  width: 15%;
}

@media screen and (max-width: 481px) {
  div.col-20 {
    background-color: orange;
    flex: 1 1 300px;
    order: 3;
  }

  div.col-20 p {
    font-size: 12px;
    color: white;
    text-align: center;
    font-family: arial;
  }

  div.col-25 {
    height: 100%;
    background-color: green;
    flex: 1 1 450px;
    order: 2;
  }

  div.col-25 h3 {
    font-style: arial;
    font-size: 20px;
    text-align: center;
  }

  div.col-25 p {
    font-style: arial;
    font-size: 15px;
    margin: 15px;
  }

  div.col-100 {
    width: 100%;
    background-color: blue;
  }

  div.col-100 h1 {
    font-size: 30px;
    text-align: center;
  }
}
